<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PSS_Launch.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PSS_Launch.Settings1>
            <setting name="PSS" serializeAs="String">
                <value>PSS.fmp12</value>
            </setting>
            <setting name="URL" serializeAs="String">
                <value>fms.smdltd.co.uk</value>
            </setting>
            <setting name="WindowName" serializeAs="String">
                <value>Precast Structural Solutions | Launch</value>
            </setting>
        </PSS_Launch.Settings1>
    </userSettings>
</configuration>